ECHO is on.

# Ignore the entire env directory
env/

# Ignore the file Mayerkar_Omkar_P3.ipynb
Mayerkar_Omkar_P3.ipynb

# Ignore the entire .ipynb_checkpoints directory
.ipynb_checkpoints/

# Ignore the text files 
P3test.txt
P3train.txt

# Ignore entire catboost_info directory
catboost_info/

# Ignore the file intro-to_sklearn.ipynb
intro-to_sklearn.ipynb

# Ignore the file end-end-heart-disease-classification.ipynb
end-end-heart-disease-classification.ipynb